sourceDir = "~/dotfiles"

[git]
 autoAdd = true
 autoCommit = true
 autoPush = true

[merge]
 command = "nvim"
 args = ["-d", "{{"{{"}} .Destination {{"}}"}}", "{{"{{"}} .Source {{"}}"}}", "{{"{{"}} .Target {{"}}"}}"]
