sourceDir = "~/.dotfiles"

[git]
 autoAdd = true
 autoCommit = true
 autoPush = true

[merge]
 command = "meld"
 args = ["-d", "{{"{{"}} .Destination {{"}}"}}", "{{"{{"}} .Source {{"}}"}}", "{{"{{"}} .Target {{"}}"}}"]
